body {  font-family: Georgia, sans-serif;  }

input[type=text]:focus, input[type=password]:focus, textarea:focus {  outline: none;  }

a, a:hover {
  text-decoration: none;
  cursor: pointer;
}

nav, footer {  background: silver;  }

.error {
  font-style: italic;
  color: red;
}

.error, footer p {  font-size: 14px;  }

/*
  navbar
*/
nav {  overflow: hidden;  }

nav li {
  display: inline;
  padding: 20px 40px;
  float: left;
}

nav li a {  color: #FFFFFF;  }

nav li a:hover {  color: #0A0A0A;  }

/*
  Container
*/
.container {  margin: 20px auto;  }

/*
  Login
*/

.form ul, .form li {
  padding: 0;
  margin: 0;
}

.form li {
  list-style: none;
  margin-bottom: 10px;
}

.form label {  display: block;  }

.form input {
  padding: 4px;
  width: 25%;
}

/*
  Footer
*/
.footer {
  position: absolute;
  bottom: 0;
  padding:15px;
  width: 100%;
  margin: 0 auto;
}

.footer p {  text-align: center;  }